#Cleaning Student Addresses and SAM CSV, formatting

In [ ]:
#import libraries
import pandas as pd
#open addresses csv
df = pd.read_csv("addresses.csv")
df2 = pd.read_csv("SAM.csv")

df.head()
print(df2.shape)
df2.head()

In [16]:
#extracting ears of interest, leases starting from 2018 to 2024
years_of_interest = [ "2019", "2020", "2021", "2022", "2023", "2024"]
pattern = '|'.join(years_of_interest)
matching_rows = df[df['year'].str.contains(pattern, case=False, na=False)]
SAM_matching_rows = df2[df2['last_edited_date'].str.contains(pattern, case=False, na=False)]    

# Combine all address cols with a space delimiter
matching_rows['full address'] = matching_rows['6a. street #'] + ' ' + matching_rows['6b. street name']+ ' ' + matching_rows['6c. street suffix']

SAM_matching_rows = SAM_matching_rows.drop(columns = ['shape_wkt', 'POINT_X', 'POINT_Y', 'X_COORD', 'Y_COORD'])
matching_rows = matching_rows.drop(columns=['6a. street #', '6b. street name', '6c. street suffix'])


display(matching_rows)
display(SAM_matching_rows)
print(SAM_matching_rows.shape)
unique_unis = df['university'].unique()
print(unique_unis)

#test_row = df.loc[(df['6a. street #'] == '10')& (df['6b. street name'] == 'Higgins') & (df['6c. street suffix'] == 'ST')	]
#display(test_row)

matching_rows.to_csv('cleaned_student_addresses.csv', index=False)

#one SAM ID FOR ONE LANDLORD
list(SAM_matching_rows)
#num unique landlords
unique_landlords = SAM_matching_rows['SAM_ADDRESS_ID'].nunique()
print(f'Number of unique landlords: {unique_landlords}')

/var/folders/2k/zr998sp53tl9pl2r7nkqy47h0000gn/T/ipykernel_62509/122004382.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_rows['full address'] = matching_rows['6a. street #'] + ' ' + matching_rows['6b. street name']+ ' ' + matching_rows['6c. street suffix']

,6d. unit #,6e. zip,7. undergraduate (u) or graduate (g),8. full-time (ft) or part-time (pt),9. at-home or not-at-home,9. 5 or more undergrads/unit (y/n),university,year,full address
0,NaN,2134,U,FT,NaN,NaN,Emmanuel College,2018-2019,10 Higgins ST
1,NaN,2134,U,FT,NaN,NaN,Emmanuel College,2018-2019,10 Higgins ST
2,6,2134,U,FT,NaN,NaN,Emmanuel College,2018-2019,1189 Commonwealth AVE
3,NaN,2134,U,FT,NaN,NaN,Emmanuel College,2018-2019,12 Glenville AVE
4,1,2134,U,FT,NaN,NaN,Emmanuel College,2018-2019,12 Glenville AVE
...,...,...,...,...,...,...,...,...,...
225707,NaN,2135,G,Full Time,Home,NaN,Boston College,2022-2023,194 Foster Street
225708,NaN,2135,G,Full Time,Home,NaN,Boston College,2022-2023,196 Foster Street
225709,NaN,2135,G,Full Time,Home,NaN,Boston College,2022-2023,196A Foster Street
225710,NaN,2136,G,Full Time,Home,NaN,Boston College,2022-2023,24 Prescott Street
225711,NaN,2132,G,Full Time,Home,NaN,Boston College,2022-2023,NaN

,SAM_ADDRESS_ID,BUILDING_ID,RELATIONSHIP_TYPE,FULL_ADDRESS,STREET_NUMBER,IS_RANGE,RANGE_FROM,RANGE_TO,UNIT,FULL_STREET_NAME,...,STREET_FULL_SUFFIX,STREET_SUFFIX_DIR,STREET_NUMBER_SORT,MAILING_NEIGHBORHOOD,ZIP_CODE,SAM_STREET_ID,WARD,PARCEL,created_date,last_edited_date
1,11,154909,1,10 A St,10,0,NaN,NaN,NaN,A St,...,Street,NaN,10,South Boston,2127,2,6,0600090000,9/25/2009 10:14:59,2/10/2022 10:47:25
2,17,141252,1,176-178 A St,176-178,1,176,178,NaN,A St,...,Street,NaN,176,Boston,2210,2,6,0601169000,9/25/2009 10:14:59,2/10/2022 10:47:31
3,23,141257,2,249-259 A St,249-259,1,249,259,NaN,A St,...,Street,NaN,249,Boston,2210,2,6,0602752000,9/25/2009 10:14:59,2/10/2022 10:47:32
4,25,141110,1,288-304 A St,288-304,1,288,304,NaN,A St,...,Street,NaN,288,Boston,2210,2,6,0601166060,9/25/2009 10:14:59,2/10/2022 10:47:35
5,28,220583,1,29 A St,29,0,NaN,NaN,NaN,A St,...,Street,NaN,29,South Boston,2127,2,6,0600158000,9/25/2009 10:14:59,2/10/2022 10:47:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399361,460003,240523,1,2-8 Dyer St,2-8,1,2,8,NaN,Dyer St,...,Street,NaN,2,Dorchester,2124,1304,17,1702051000,12/3/2024 20:37:05,12/3/2024 20:37:05
399362,460004,240869,1,52-54 Lane Park,52-54,1,52,54,NaN,Lane Park,...,Park,NaN,52,Brighton,2135,2353,22,2205244000,12/3/2024 21:49:02,12/3/2024 21:56:38
399363,460005,240871,1,551-555 Beech St,551-555,1,551,555,NaN,Beech St,...,Street,NaN,551,Roslindale,2131,348,18,1806006000,12/3/2024 22:36:52,12/3/2024 22:36:52
399365,460007,240881,1,25 Royal St,25,0,NaN,NaN,NaN,Royal St,...,Street,NaN,25,Allston,2134,3664,22,2201634000,12/9/2024 17:59:50,12/9/2024 17:59:50
399367,460014,240903,1,495 Dorchester Ave,495,0,NaN,NaN,NaN,Dorchester Ave,...,Avenue,NaN,495,South Boston,2127,1244,7,0700035000,12/30/2024 14:53:02,12/30/2024 14:53:02

(218964, 24)
['Emmanuel College' 'Boston Baptist College'
 'Massachusetts College or Art and Design' 'Boston Architectural College'
 'Massachusetts Institute of Technology' 'Emerson College'
 'New England Law' 'New England Conservatory'
 'University of Massachusetts-Boston' 'Simmons University'
 'Urban College of Boston' 'Bay State College' 'Tufts University'
 'Suffolk University' 'Berkeley and Boston Conservatory'
 'Boston University' 'Harvard University' 'Boston College WCAS'
 'SHOWA Boston Institute' 'Franklin Institute of Technology'
 'New England College of Optometry'
 'Berklee College of Music and Boston Conservatory'
 'Massachusettes College of Art and Design'
 'University of Massachusetts Boston' 'Fisher College'
 'Northeastern Univerisity' 'Wentworth Institute of Technology'
 'Boston College' 'MCPHS University' 'MCSPHS University'
 'Northeastern University'
 'Berklee College of Music & Boston Conservatory'
 'Emerson College-Updated Report'
 'Harvard University_Boston-Based Students'
 'Massachusetts College of Art and Design'
 'Berklee College of Music-Boston Conservatory' "St. John's Seminary"
 'MA College of Pharmacy and Health Sciences' 'Sattler College'
 'BC-Woods College' 'MGH Institute of Health Professions'
 'New England Conservatory of Music'
 'Benjamin Franklin Cummings Institute of Techology'
 'Berklee College of Music' 'Boston Conservatory at Berklee'
 'MA College of Art and Design'
 'Massachusetts College of Pharmacy and Health Sciences'
 'Preliminary Tufts University-SMFA' 'Simmons College' 'Wheelock College'
 'Boston University Updated Report 30Nov2017' 'MCPHHS University'
 'MIT UAR Fall 2017-update' 'New England Law Boston'
 'Tufts University-SMFA' 'Boston College, WCAS']
Number of unique landlords: 218964

In [22]:
#extracting ONLY sam ids from student addresses
matching_rows = matching_rows.rename(columns={'full address': 'FULL_ADDRESS'})
df_matched = matching_rows.merge(SAM_matching_rows, on='FULL_ADDRESS', how='inner')

#keep only cols we want
col_keep = ['6d. unit #',
 '6e. zip',
 '9. 5 or more undergrads/unit (y/n)',
 'year',
 'FULL_ADDRESS',
 'SAM_ADDRESS_ID',
 'BUILDING_ID',
 'STREET_NUMBER',
 'UNIT',
 'ZIP_CODE',
 'WARD',
 'PARCEL',
 'created_date',
 'last_edited_date']

df_matched = df_matched[col_keep]
#unique student housing addresse
num_unique_student_addresses = matching_rows['FULL_ADDRESS'].nunique()
print(f'Number of unique student housing addresses: {num_unique_student_addresses}')
list(df_matched.columns.values)
df_matched.head()

#to csv
df_matched.to_csv('cleaned_student_addresses_SAM.csv', index=False)

Number of unique student housing addresses: 55466