# Property Assessment 

This notebook merges property assessment databases from the years 2018 - 2024 and cleans it up for future use.

In [ ]:
import pandas as pd
'''
years = ["2024", "2023", "2022", "2021", "2020", "2019", "2018"]
df_list = []

for year in years:
    df = pd.read_csv(f"./property_assessment/{year}.csv")
    df["Year"] = year
    df_list.append(df)

combined_df = pd.concat(df_list, ignore_index=True)

combined_df.to_csv("raw_property_assessment.csv", index=False)
'''

'\nyears = ["2024", "2023", "2022", "2021", "2020", "2019", "2018"]\ndf_list = []\n\nfor year in years:\n    df = pd.read_csv(f"./property_assessment/{year}.csv")\n    df["Year"] = year\n    df_list.append(df)\n\ncombined_df = pd.concat(df_list, ignore_index=True)\n\ncombined_df.to_csv("raw_property_assessment.csv", index=False)\n'

In [1]:
df = pd.read_csv("raw_property_assessment.csv")
df.head()

NameError: name 'pd' is not defined

In [3]:
cols_keep = ["PID", "CM_ID", "GIS_ID", "ST_NUM", "ST_NAME", "UNIT_NUM", "CITY", "ZIP_CODE", "OWNER", "INT_COND", "EXT_COND", "OVERALL_COND", "BDRM_COND", "HEAT_TYPE", "AC_TYPE", "BED_RMS"]

df_new = df[cols_keep]

In [4]:
df_new.head()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,OWNER,INT_COND,EXT_COND,OVERALL_COND,BDRM_COND,HEAT_TYPE,AC_TYPE,BED_RMS
0,100001000,NaN,100001000.0,104.0,PUTNAM ST,NaN,EAST BOSTON,2128.0,PASCUCCI CARLO,A - Average,F - Fair,A - Average,NaN,W - Ht Water/Steam,N - None,6.0
1,100002000,NaN,100002000.0,197.0,Lexington ST,NaN,EAST BOSTON,2128.0,SEMBRANO RODERICK,A - Average,A - Average,A - Average,NaN,F - Forced Hot Air,C - Central AC,3.0
2,100003000,NaN,100003000.0,199.0,Lexington ST,NaN,EAST BOSTON,2128.0,GUERRA CHEVARRIA ANA S,A - Average,G - Good,A - Average,NaN,S - Space Heat,N - None,5.0
3,100004000,NaN,100004000.0,201.0,Lexington ST,NaN,EAST BOSTON,2128.0,JB REALTY TRUST,A - Average,A - Average,A - Average,NaN,W - Ht Water/Steam,N - None,5.0
4,100005000,NaN,100005000.0,203.0,Lexington ST,NaN,EAST BOSTON,2128.0,MARKS TRAVIS JOSEPH,A - Average,F - Fair,A - Average,NaN,W - Ht Water/Steam,N - None,6.0

In [5]:
'''
add_cols = ["ST_NUM", "ST_NAME", "CITY", "ZIP_CODE"]
df_new[add_cols] = df_new[add_cols].fillna("").astype(str)
df_new["full_address"] = df_new["ST_NUM"].str.strip() + " " + df_new["ST_NAME"].str.strip() + " " + df_new["CITY"].str.strip() + " " + df_new["ZIP_CODE"].str.strip()
df_new["full_address"] = df_new["full_address"].str.replace(r"\s+", " ", regex=True).str.strip()
'''
def to_str_int_first(x):
    if pd.isna(x):
        return ""
    # convert float to int if it's an integer value (123.0 â†’ 123)
    if isinstance(x, float) and x.is_integer():
        return str(int(x))
    # convert actual ints directly
    if isinstance(x, int):
        return str(x)
    # everything else to string, trimmed
    return str(x).strip()

cols = ["ST_NUM", "ST_NAME", "CITY", "ZIP_CODE"]

for c in cols:
    df_new[c] = df_new[c].apply(to_str_int_first)

df_new["full_address"] = (
    df_new["ST_NUM"] + " " + 
    df_new["ST_NAME"] + " " +
    df_new["CITY"] + " " + 
    df_new["ZIP_CODE"]
).str.replace(r"\s+", " ", regex=True).str.strip()

df_cleaned = df_new.drop(cols, axis=1)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\shery\AppData\Local\Temp\ipykernel_31568\506769292.py:1: SyntaxWarning: invalid escape sequence '\s'
  '''
C:\Users\shery\AppData\Local\Temp\ipykernel_31568\506769292.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[c] = df_new[c].apply(to_str_int_first)
C:\Users\shery\AppData\Local\Temp\ipykernel_31568\506769292.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["full_address"] = (

In [7]:
df_cleaned.head()

df_cleaned.to_csv("cleaned_property_assessment.csv", index=False)